{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/categories/show_watches.css' %}">
{% endblock %}

{% block content %}
<h1>Watches in {{ category.name }}</h1>

<div class="watch-container">
    {% for watch in watches %}
    <a href="{% url 'watch_detail' watch.id %}">
        <div class="watch-card">
            {% if watch.image %}
                <img src="{{ watch.image.url }}" alt="{{ watch.name }}" class="watch-image">
            {% else %}
                <img src="{% static 'images/no-image.png' %}" alt="No Image" class="watch-image">
            {% endif %}
            <div class="watch-info">
                <h2 class="watch-name">{{ watch.name }}</h2>
                <p class="watch-brand"><strong>Brand:</strong> {{ watch.brand }}</p>
                <p class="watch-price"><strong>Price:</strong> ${{ watch.price }}</p>
            </div>
        </div>
        </a>
    {% empty %}
        <p>No watches found in this category.</p>
    {% endfor %}
</div>
{% endblock %}
