{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChronosElite</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/category"><img src="{% static 'images/c-logo.png' %}" alt="ChronosElite Logo" /></a>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          {% if not user.is_authenticated %}
            <li> <a href="/">Sign In</a> </li>
            <li> <a href="{% url 'signup' %}">Sign Up</a> </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li>
            <a href="/category">Categories</a>
          </li>
            <li>
              <a href="{% url 'watch-create' %}">Add a Watch</a>
            </li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
